<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ main_data['desc']}}">
    <title>{{ main_data['name'] }}</title>

    <!-- fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@600&display=swap" rel="stylesheet">

    <!-- styles -->

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/framework.css') }}"/>

</head>
<body>
