{% include '_header.html' %}
{% include '_nav.html' %}

<div class="container">

    {%if products: %}

    {% for item in products: %}

    {% if item['avalible'] != 0: %}

    <div class="product__box">
        
        <img src="/img/products/{{ item['small_img'] }}">

        <h2>{{ item['name'] }}</h2>

        <p>{{ item['short_description'] }}</p>

        <a href="/products{{ item['path'] }}">

            <div class="btn text__center">Więcej</div>

        </a>

    </div>

    {% endif %}
    
    {% endfor %}

    {% else: %}

    <h2>Brak produktów w tej kategori.</h2>

    {% endif %}

</div>


{% include '_footer.html' %}